.page {
  &__section {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $xl-width) {
      padding-top: 60px;
      padding-bottom: 105px;
    }
  }

  &__wrap {
    @include container;
  }

  &__title {
    @include h1;
  }  
}