.main-slider {  
    &__list {
        @include list;
        width: 100%;
        z-index: 1;
    }

    &__item {
        display: flex;
        align-items: center;
    }


    &__pagination-wrap {
        position: relative;
        @include container;
        z-index: 5;
        

        & .swiper-pagination {
            width: auto;
            bottom: 20px;
            right: 20px;
            top: unset;
            left: unset;
            display: flex;
            flex-direction: column;
        }

        & .swiper-pagination-bullet {
            width: 20px;
            height: 9px;
            margin-bottom: 2px !important;
            border-radius: 0;
            background: $gray;
            opacity: 1;
            transition: all 0.4s;
            cursor: pointer;
        }

        & .swiper-pagination-bullet-active {
            background: $maize;
            margin-bottom: 10px !important;
        }
        
    }

    & .slide {
        &__cover {
            position: relative;
            width: 100%;
            min-height: calc(100vh - 120px);
            overflow: hidden;
            z-index: 1;

            @media (min-width: $xl-width) {
                min-height: 100vh;
            }
        }

        &__video {
            display: none;

            @media (min-width: $xl-width) {
                display: block;
                z-index: 10;
            }
        }

        &__img,
        &__video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover; 
        }

        &__img {
            z-index: 5;
        }

        &__content {
            position: absolute;
            padding-top: 100px;
            padding-bottom: 50px;
            left: 50%;
            @include container;
            transform: translateX(-50%);
            box-sizing: border-box; 
            z-index: 20;    
        }

        &__title,
        &__text {
            color: $light-gray;
            @media (min-width: $xl-width) {
                max-width: 715px;
            }
        }

        &__title {
            @include mp;
            @include h1;
            margin-bottom: 0.52em;

            @media (min-width: $xl-width) {
                @include title-text;
                margin-bottom: 0.46em;
            }
        }

        &__text {
            @include text;
        }

        &__button {
            margin-top: 1.11em;

            @media (min-width: $xl-width) {
                margin-top: 1.66em;
            }
        }
    }
}