<section class="production">
    <div class="page__wrap">
        <h1 class="production__title">Продукция КЕТРА - надежный и эффективный материал для любой стройки</h1>
        <div class="production__text">
            <p>Завод работает по новейшей австрийской технологии,  а продукция производится из высококачественного сырья из собственных карьеров</p>
        </div>
        <ul class="production__list">
            <li>Крупноформатные блоки</li>
            <li>Перегородочные блоки</li>
            <li>Поризованный камень</li>
            <li>Облицовочный кирпич</li>
            <li>Вентиляционный камень</li>
            <li>Винный блок</li>
            <li>Стеновые блоки</li>
        </ul>
        <a class="button button--main production__link-more">Узнать больше о продукции</a>
    </div>    
</section> 