<section class="product">
    <div class="product__main-info">
        <div class="page__wrap">
            <h1 class="product__title">Кетра Климаблок 44</h1>
            <div class="product__gallery">
                <div class="main-gellery swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <!--При клике должно открываться модальное окно с полной версиеё изображения-->
                            <a href="#">
                                <picture>
                                    <source type="image/webp" srcset="
                                        ../product/klimablock1-975@1x.webp 1x,
                                        ../product/klimablock1-975@2x.webp 2x,
                                        ../product/klimablock1-975@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                                        ../product/klimablock1-975@1x.png 1x,
                                        ../product/klimablock1-975@2x.png 2x,
                                        ../product/klimablock1-975@3x.png 3x">
                                    <img src="../product/klimablock1.png" alt="">
                                </picture>
                            </a>
                        </li>
                        <li class="swiper-slide">
                            <!--При клике должно открываться модальное окно с полной версиеё изображения-->
                            <a href="#">
                                <picture>
                                    <source type="image/webp" srcset="
                                        ../product/klimablock2-975@1x.webp 1x,
                                        ../product/klimablock2-975@2x.webp 2x,
                                        ../product/klimablock2-975@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                                        ../product/klimablock2-975@1x.png 1x,
                                        ../product/klimablock2-975@2x.png 2x,
                                        ../product/klimablock2-975@3x.png 3x">
                                    <img src="../product/klimablock2.png" alt="">
                                </picture>
                            </a>
                        </li>
                        <li class="swiper-slide">
                            <!--При клике должно открываться модальное окно с полной версиеё изображения-->
                            <a href="#">
                                <picture>
                                    <source type="image/webp" srcset="
                                        ../product/klimablock3-975@1x.webp 1x,
                                        ../product/klimablock3-975@2x.webp 2x,
                                        ../product/klimablock3-975@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                                        ../product/klimablock3-975@1x.png 1x,
                                        ../product/klimablock3-975@2x.png 2x,
                                        ../product/klimablock3-975@3x.png 3x">
                                    <img src="../product/klimablock2.png" alt="">
                                </picture>
                            </a>
                        </li>
                    </ul>
                </div>                
                <div class="preview-gellery swiper">
                    
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../product/klimablock1-200@1x.webp 1x,
                                    ../product/klimablock1-200@2x.webp 2x,
                                    ../product/klimablock1-200@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../product/klimablock1-200@1x.png 1x,
                                    ../product/klimablock1-200@2x.png 2x,
                                    ../product/klimablock1-200@3x.png 3x">
                                <img src="../product/klimablock1.png" alt="">
                            </picture>
                        </li>
                        <li class="swiper-slide">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../product/klimablock2-200@1x.webp 1x,
                                    ../product/klimablock2-200@2x.webp 2x,
                                    ../product/klimablock2-200@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../product/klimablock2-200@1x.png 1x,
                                    ../product/klimablock2-200@2x.png 2x,
                                    ../product/klimablock2-200@3x.png 3x">
                                <img src="../product/klimablock2.png" alt="">
                            </picture>
                        </li>
                        <li class="swiper-slide">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../product/klimablock3-200@1x.webp 1x,
                                    ../product/klimablock3-200@2x.webp 2x,
                                    ../product/klimablock3-200@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../product/klimablock3-200@1x.png 1x,
                                    ../product/klimablock3-200@2x.png 2x,
                                    ../product/klimablock3-200@3x.png 3x">
                                <img src="../product/klimablock3.png" alt="">
                            </picture>
                        </li>
                    </ul>
                    <div class="swiper-scrollbar"></div>
                    
                </div>
            </div>            
            <div class="product__order">
                <p class="product__price"><span>204.16</span> руб. / шт.</p>
                <a class="button button--main product__order-link" href="#">Оформить заказ</a>
            </div>            
            <dl class="product__characteristics-list">                
                <div class="product__characteristics-item">
                    <dt>Формат</dt>
                    <dd>12.4 NF</dd>
                </div>
                <div class="product__characteristics-item">
                    <dt>Вес, кг</dt>
                    <dd>18.3</dd>
                </div>
                <div class="product__characteristics-item">
                    <dt>Размер, Д*ш*т, мм</dt>
                    <dd>440x250x219</dd>
                </div>
                <div class="product__characteristics-item">
                    <dt>Кол-во на поддоне, шт.</dt>
                    <dd>48</dd>
                </div>

            </dl>
            <div class="product__description">
                <h3>Описание</h3>
                <div class="product__description-text">
                    <p>Керамические камни “КЕТРА 44” с облицовкой керамическим кирпичом прекрасный выбор для малоэтажного домостроения с точки зрения соотношения цены и качества. Предназначены для кладки наружных несущих стен в один рад толщиной 440 мм без дополнительного утепления. Теплопроводность в 5 раз ниже, чем у стены из обычного кирпича.</p>
                    <p>Доборные элементы КЕТРА 44 ½ используются при кладке оконных и дверных проемов - там, где нужны половинные блоки.</p>
                </div>                
            </div>
            <dl class="product__specification-list">
                <div class="product__specification-item">
                    <dt>Марка прочности</dt>
                    <dd>M-100</dd>
                </div>
                <div class="product__specification-item">
                    <dt>ГОСТ:</dt>
                    <dd>530-2012</dd>
                </div>
                <div class="product__specification-item">
                    <dt>Морозостойкость:</dt>
                    <dd>F50</dd>
                </div>
                <div class="product__specification-item">
                    <dt>Теплопроводность:</dt>
                    <dd>0.108 Вт/м°С</dd>
                </div>
                <div class="product__specification-item">
                    <dt>Наличие:</dt>
                    <dd>под заказ</dd>
                </div>
            </dl>
        </div>        
    </div>
    <div class="product__tab-info">
        <div class="page__wrap">
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'delivery')" id="defaultOpen">Доставка</button>
                <button class="tablinks" onclick="openCity(event, 'tests')">Испытания</button>
                <button class="tablinks" onclick="openCity(event, 'examples')">Примеры</button>
                <button class="tablinks" onclick="openCity(event, 'documents')">Документы</button>
            </div>
            <!-- Tab content -->
            <div id="delivery" class="tabcontent">
                <h2 class="visually-hidden">Доставка</h2>
                <p>Доставка возможна несколькими способами.</p>
                <h3>ГРУЗОВОЙ АВТОМОБИЛЬ С ПОЛУПРИЦЕПОМ (ШАЛАНДА)</h3>
                <p>Открытый бортовой полуприцеп для перевозки крупногабаритных грузов. Длинна такого прицепа может быть разной: 9м, 11м, 12м, 13,6м - все это нужно учитывать при заказе автомобиля на строительную площадку. Вместимость от 16 от 24 поддонов соответственно**. Габариты: длинна - 9-11-12-13,6м; ширина - 2,5; высота - 2,5; грузоподъемность до 20 тонн. Необходимость верхней разгрузки, априори, подразумевает использование именно этого вида транспорта. Погрузка осуществляется вилочным погрузчиком.</p>
                <h3>КРАН - МАНИПУЛЯТОР</h3>
                
                <p>Представляет собой грузовик с крановой установкой у основания кабины. Очень практичная и маневренная техника. В среднем позволяет взять до 18 поддонов**.</p>
                <p>Евро-фура и шаланда, являются самым удобным и распространенным видом транспорта для доставки кирпичных изделий на стройку. Но для того, чтобы без труда удалось принять такую крупную машину, заказчик должен обеспечить подъездные пути к зоне выгрузки. Погрузка осуществляется вилочным погрузчиком.</p>
                <h3>УПАКОВКА</h3>
                <p>Кирпич уложен на деревянные невозвратные поддоны, перетянут стреппинг лентой и упакован в термоусадочную пленку.</p>
                <p><i>**норма загрузки может меняться в зависимости от партии</i></p>
                <p><i>*Для уточнения стоимости и условий доставки - сделайте заказ, либо позвоните по бесплатному номеру: 8-800-500-49-42</i></p>
            </div>
            
            <div id="tests" class="tabcontent tests">
                <h2 class="visually-hidden">Испытания</h2>
                <ul class="tests__list">
                    <li>
                        <h3>Проверка в лабораториях</h3>
                        <picture>
                            <source type="image/webp" srcset="
                                ../product/lab1-200@1x.webp 1x,
                                ../product/lab1-200@2x.webp 2x,
                                ../product/lab1-200@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../product/lab1-200@1x.jpg 1x,
                                ../product/lab1-200@2x.jpg 2x,
                                ../product/lab1-200@3x.jpg 3x">
                            <img src="../product/lab1.jpg" alt="">
                        </picture>
                        <p>Перед отгрузкой на склад каждую партию готовой продукции проверяют на соответствие геометрии и отсутствие трещин и других дефектов. Также проводят обязательные испытания на марочную прочность, водопоглощение и морозостойкость.</p>
                    </li>
                    <li>
                        <h3>Ровные углы и плоскости</h3>
                        <picture>
                            <source type="image/webp" srcset="
                                ../product/lab2-200@1x.webp 1x,
                                ../product/lab2-200@2x.webp 2x,
                                ../product/lab2-200@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../product/lab2-200@1x.jpg 1x,
                                ../product/lab2-200@2x.jpg 2x,
                                ../product/lab2-200@3x.jpg 3x">
                            <img src="../product/lab2.jpg" alt="">
                        </picture>
                        <p>Данное лабораторное оборудование позволяет еще до начала запуска того или иного вида продукции, узнать все основные характеристики будущего кирпича. Это позволяет исключить ошибки на производстве. Центром лаборатории является единственный в Поволжье пресс, который служит для определения прочности при сжатии и изгибе. Данная установка уникальна и дает достоверную информацию, на основе которой лаборатория завода «КЕТРА» оформляет марку кирпича произведённой партии продукции. Тестирование происходит 3 раза в день.</p>
                    </li>
                    <li>
                        <h3>Ровные углы и плоскости</h3>
                        <picture>
                            <source type="image/webp" srcset="
                                ../product/lab3-200@1x.webp 1x,
                                ../product/lab3-200@2x.webp 2x,
                                ../product/lab3-200@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../product/lab3-200@1x.jpg 1x,
                                ../product/lab3-200@2x.jpg 2x,
                                ../product/lab3-200@3x.jpg 3x">
                            <img src="../product/lab3.jpg" alt="">
                        </picture>
                        <p>Испытания проходит не только готовая продукция, задача лаборатории проверять входящее сырье — поступающую из карьера глину, песок и трепел. Их проверяют на влажность, гранулометрический и химический состав.</p>
                    </li>
                </ul>
            </div>
            
            <div id="examples" class="tabcontent examples">
                <h2 class="visually-hidden">Примеры кладки</h2>
                <div class="product-examples__gallery">
                    <div class="examples-main-gellery swiper">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <a href="#">
                                    <picture>
                                        <source type="image/webp" srcset="
                                            ../product/examples1-975@1x.webp 1x,
                                            ../product/examples1-975@2x.webp 2x,
                                            ../product/examples1-975@3x.webp 3x">
                                        <source type="image/jpeg" srcset="
                                            ../product/examples1-975@1x.jpg 1x,
                                            ../product/examples1-975@2x.jpg 2x,
                                            ../product/examples1-975@3x.jpg 3x">
                                        <img src="../product/examples1.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                            <li class="swiper-slide">

                                <a href="#">
                                    <picture>
                                        <source type="image/webp" srcset="
                                            ../product/examples2-975@1x.webp 1x,
                                            ../product/examples2-975@2x.webp 2x,
                                            ../product/examples2-975@3x.webp 3x">
                                        <source type="image/jpeg" srcset="
                                            ../product/examples2-975@1x.jpg 1x,
                                            ../product/examples2-975@2x.jpg 2x,
                                            ../product/examples2-975@3x.jpg 3x">
                                        <img src="../product/examples2.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                            <li class="swiper-slide">

                                <a href="#">
                                    <picture>
                                        <source type="image/webp" srcset="
                                            ../product/examples3-975@1x.webp 1x,
                                            ../product/examples3-975@2x.webp 2x,
                                            ../product/examples3-975@3x.webp 3x">
                                        <source type="image/jpeg" srcset="
                                            ../product/examples3-975@1x.jpg 1x,
                                            ../product/examples3-975@2x.jpg 2x,
                                            ../product/examples3-975@3x.jpg 3x">
                                        <img src="../product/examples3.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                            <li class="swiper-slide">

                                <a href="#">
                                    <picture>
                                        <source type="image/webp" srcset="
                                            ../product/examples4-975@1x.webp 1x,
                                            ../product/examples4-975@2x.webp 2x,
                                            ../product/examples4-975@3x.webp 3x">
                                        <source type="image/jpeg" srcset="
                                            ../product/examples4-975@1x.jpg 1x,
                                            ../product/examples4-975@2x.jpg 2x,
                                            ../product/examples4-975@3x.jpg 3x">
                                        <img src="../product/examples4.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                        </ul>
                    </div>                
                    <div class="examples-preview-gellery swiper">
                        
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <picture>
                                    <source type="image/webp" srcset="
                                        ../product/examples1-200@1x.webp 1x,
                                        ../product/examples1-200@2x.webp 2x,
                                        ../product/examples1-200@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                                        ../product/examples1-200@1x.jpg 1x,
                                        ../product/examples1-200@2x.jpg 2x,
                                        ../product/examples1-200@3x.jpg 3x">
                                    <img src="../product/examples1.jpg" alt="">
                                </picture>
                            </li>
                            <li class="swiper-slide">
                                <picture>
                                    <source type="image/webp" srcset="
                                        ../product/examples2-200@1x.webp 1x,
                                        ../product/examples2-200@2x.webp 2x,
                                        ../product/examples2-200@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                                        ../product/examples2-200@1x.jpg 1x,
                                        ../product/examples2-200@2x.jpg 2x,
                                        ../product/examples2-200@3x.jpg 3x">
                                    <img src="../product/examples2.jpg" alt="">
                                </picture>
                            </li>
                            <li class="swiper-slide">
                                <picture>
                                    <source type="image/webp" srcset="
                                        ../product/examples3-200@1x.webp 1x,
                                        ../product/examples3-200@2x.webp 2x,
                                        ../product/examples3-200@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                                        ../product/examples3-200@1x.jpg 1x,
                                        ../product/examples3-200@2x.jpg 2x,
                                        ../product/examples3-200@3x.jpg 3x">
                                    <img src="../product/examples3.jpg" alt="">
                                </picture>
                            </li>
                            <li class="swiper-slide">
                                <picture>
                                    <source type="image/webp" srcset="
                                        ../product/examples4-200@1x.webp 1x,
                                        ../product/examples4-200@2x.webp 2x,
                                        ../product/examples4-200@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                                        ../product/examples4-200@1x.jpg 1x,
                                        ../product/examples4-200@2x.jpg 2x,
                                        ../product/examples4-200@3x.jpg 3x">
                                    <img src="../product/examples4.jpg" alt="">
                                </picture>
                            </li>
                        </ul>
                        <div class="swiper-scrollbar"></div>
                        
                    </div>
                </div>
            </div>
            <div id="documents" class="tabcontent documents">
                <h2 class="visually-hidden">Документы</h2>
                <ul class="documents__list">
                    <li>
                        <a href="#">Сертификат соответствия ГОСТ 530-2012</a>
                    </li>
                    <li>
                        <a href="#">Протокол испытаний - Теплопроводность каменной кладки КЕТРА КЛИМАБЛОК 44</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>