<section class="certificates">
    <div class="certificates__title-wrap">
        <h2 class="page__subtitle">Для тех, кто ценит качество</h2>        
    </div>
    <!--При клике на сертификат в модальном окне должна открываться полная версия сертификата-->
    <div class="certificates__wrap-hidden">
        <div class="certificates__container swiper">
            <ul class="certificates__list swiper-wrapper">
                <li class="certificates__item swiper-slide">
                    <a href="#">
                        <picture>
                            <source type="image/webp" srcset="
                                ../certificates/certificate1-600@1x.webp 1x,
                                ../certificates/certificate1-600@2x.webp 2x,
                                ../certificates/certificate1-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../certificates/certificate1-600@1x.jpg 1x,
                                ../certificates/certificate1-600@2x.jpg 2x,
                                ../certificates/certificate1-600@3x.jpg 3x">
                            <img class="slide__img" src="../certificates/certificate1.jpg" alt="Сертификат">
                        </picture> 
                    </a>
                </li>
                <li class="certificates__item swiper-slide">
                    <a href="#">
                        <picture>
                            <source type="image/webp" srcset="
                                ../certificates/certificate2-600@1x.webp 1x,
                                ../certificates/certificate2-600@2x.webp 2x,
                                ../certificates/certificate2-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../certificates/certificate2-600@1x.jpg 1x,
                                ../certificates/certificate2-600@2x.jpg 2x,
                                ../certificates/certificate2-600@3x.jpg 3x">
                            <img class="slide__img" src="../certificates/certificate2.jpg" alt="Сертификат">
                        </picture> 
                    </a>
                </li>
                <li class="certificates__item swiper-slide">
                    <a href="#">
                        <picture>
                            <source type="image/webp" srcset="
                                ../certificates/certificate3-600@1x.webp 1x,
                                ../certificates/certificate3-600@2x.webp 2x,
                                ../certificates/certificate3-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../certificates/certificate3-600@1x.jpg 1x,
                                ../certificates/certificate3-600@2x.jpg 2x,
                                ../certificates/certificate3-600@3x.jpg 3x">
                            <img class="slide__img" src="../certificates/certificate3.jpg" alt="Сертификат">
                        </picture> 
                    </a>
                </li>
                <li class="certificates__item swiper-slide">
                    <a href="#">
                        <picture>
                            <source type="image/webp" srcset="
                                ../certificates/certificate4-600@1x.webp 1x,
                                ../certificates/certificate4-600@2x.webp 2x,
                                ../certificates/certificate4-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../certificates/certificate4-600@1x.jpg 1x,
                                ../certificates/certificate4-600@2x.jpg 2x,
                                ../certificates/certificate4-600@3x.jpg 3x">
                            <img class="slide__img" src="../certificates/certificate4.jpg" alt="Сертификат">
                        </picture> 
                    </a>
                </li>
                <li class="certificates__item swiper-slide">
                    <a href="#">
                        <picture>
                            <source type="image/webp" srcset="
                                ../certificates/certificate5-600@1x.webp 1x,
                                ../certificates/certificate5-600@2x.webp 2x,
                                ../certificates/certificate5-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../certificates/certificate5-600@1x.jpg 1x,
                                ../certificates/certificate5-600@2x.jpg 2x,
                                ../certificates/certificate5-600@3x.jpg 3x">
                            <img class="slide__img" src="../certificates/certificate5.jpg" alt="Сертификат">
                        </picture> 
                    </a>
                </li>
            </ul>
        </div> 

    </div>
       
</section>

