<picture>
    <source type="image/webp" srcset="
        ../img/advantage-awards-620@1x.webp 1x,
        ../img/advantage-awards-620@2x.webp 2x,
        ../img/advantage-awards-620@3x.webp 3x">
    <source type="image/png" srcset="
        ../img/advantage-awards-620@1x.png 1x,
        ../img/advantage-awards-620@2x.png 2x,
        ../img/advantage-awards-620@3x.png 3x">
    <img src="../img/aadvantage-awards.png" alt="Строить значит сотворить будущее" width="620">
</picture>
<picture>
    <source type="image/webp" srcset="
        ../img/advantage-power-500@1x.webp 1x,
        ../img/advantage-power-500@2x.webp 2x,
        ../img/advantage-power-500@3x.webp 3x">
    <source type="image/jpg" srcset="
        ../img/advantage-power-500@1x.jpg 1x,
        ../img/advantage-power-500@2x.jpg 2x,
        ../img/advantage-power-500@3x.jpg 3x">
    <img src="../img/advantage-power.jpg" alt="Кирпичи" width="500">
</picture>
<picture>
    <source type="image/webp" srcset="
        ../img/advantage-bedeschi-500@1x.webp 1x,
        ../img/advantage-bedeschi-500@2x.webp 2x,
        ../img/advantage-bedeschi-500@3x.webp 3x">
    <source type="image/jpg" srcset="
        ../img/advantage-bedeschi-500@1x.jpg 1x,
        ../img/advantage-bedeschi-500@2x.jpg 2x,
        ../img/advantage-bedeschi-500@3x.jpg 3x">
    <img src="../img/advantage-bedeschi.jpg" alt="Произодственная линия завода" width="500">
</picture>