<picture>
    <source type="image/webp" srcset="
        ../img/centralnyj-fo-882.webp 1x,
        ../img/centralnyj-fo-882@2x.webp 2x,
        ../img/centralnyj-fo-882@3x.webp 3x">
    <source type="image/png" srcset="
        ../img/centralnyj-fo-882.png 1x,
        ../img/centralnyj-fo-882@2x.png 2x,
        ../img/centralnyj-fo-882@3x.png 3x">
    <img src="../img/centralnyj-fo.png" alt="">
</picture>
<picture>
    <source type="image/webp" srcset="
        ../img/krasnodarskij-kraj-882.webp 1x,
        ../img/krasnodarskij-kraj-882@2x.webp 2x,
        ../img/krasnodarskij-kraj-882@3x.webp 3x">
    <source type="image/png" srcset="
        ../img/krasnodarskij-kraj-882.png 1x,
        ../img/krasnodarskij-kraj-882@2x.png 2x,
        ../img/krasnodarskij-kraj-882@3x.png 3x">
    <img src="../img/krasnodarskij-kraj.png" alt="">
</picture>
<picture>
    <source type="image/webp" srcset="
        ../img/privolzhskij-882.webp 1x,
        ../img/privolzhskij-882@2x.webp 2x,
        ../img/privolzhskij-882@3x.webp 3x">
    <source type="image/png" srcset="
        ../img/privolzhskij-882.png 1x,
        ../img/privolzhskij-882@2x.png 2x,
        ../img/privolzhskij-882@3x.png 3x">
    <img src="../img/privolzhskij.png" alt="">
</picture>
<picture>
    <source type="image/webp" srcset="
        ../img/severozapadnyj-fo-882.webp 1x,
        ../img/severozapadnyj-fo-882@2x.webp 2x,
        ../img/severozapadnyj-fo-882@3x.webp 3x">
    <source type="image/png" srcset="
        ../img/severozapadnyj-fo-882.png 1x,
        ../img/severozapadnyj-fo-882@2x.png 2x,
        ../img/severozapadnyj-fo-882@3x.png 3x">
    <img src="../img/severozapadnyj-fo.png" alt="">
</picture>
<picture>
    <source type="image/webp" srcset="
        ../img/uralskij-fo-882.webp 1x,
        ../img/uralskij-fo-882@2x.webp 2x,
        ../img/uralskij-fo-882@3x.webp 3x">
    <source type="image/png" srcset="
        ../img/uralskij-fo-882.png 1x,
        ../img/uralskij-fo-882@2x.png 2x,
        ../img/uralskij-fo-882@3x.png 3x">
    <img src="../img/uralskij-fo.png" alt="">
</picture>