<section class="statistics">
    <div class="page__wrap">
        <h2 class="page__subtitle page__subtitle--light">Эффективная статистика</h2>
        <ul class="statistics__list">
            <li>10<span>лет на рынке</span></li>
            <li>33<span>наименования продукции</span></li>
            <li>150<span>специалистов в штате</span></li>
            <li>3<span>собственных карьера</span></li>
        </ul>
        <p class="statistics__text">На сегодняшний день объем продукции,  выпускаемой заводом  позволяет застроить более 250 000 кв.м. жилья</p>
    </div>
</section>