.button {
  @include btn-reset;
  @include link;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  transition: $transition;
  text-align: center;
  min-height: 57px;
  padding: 15px 30px;

  & use.icon__symbol {
    transition: $transition;
  }

  &--main {
    background-color: $maize;
    border-color: $maize;
    color: $black;
  }

  &--secondary {
    background-color: transparent;
    border-color: $maize;
    color: $light-gray;
  }

}