<div class="contacts">
    <section class="contacts__branch branch branch--firm">
        <div class="page__wrap">
            <div class="branch__info">
                <h2 class="page__subtitle">ТОРГОВЫЙ ДОМ «КЕТРА»</h2>
                <p class="address">428034,&nbsp;Чувашская&nbsp;Республика, г.&nbsp;Чебоксары, ул.&nbsp;Мичмана&nbsp;Павлова,&nbsp;д.39</p>
                <p class="phone-numbers"><a href="tel:+78352222255">(8352) 22-22-55</a>, <a href="tel:+78005004942">8 (800) 500-49-42</a></p>
                <a class="email" href="mailto:sales@ketra.ru">sales@ketra.ru</a>
                <div class="schedule">
                    <h3>Режим работы офиса </h3>
                    <p>пн-пт - с 8:00 до 17.00<br>сб,вс - выходной  </p>
                </div>
                
            </div>
            <div class="branch__additional">
                <h2 class="page__subtitle">Свяжитесь с нами</h2>
                <form class="form form--contacts">
                    <div class="form__field form__field--question">
                        <textarea rows="1" placeholder="Вопрос*"></textarea>
                    </div>
                    <div class="form__field form__field--name">
                        <label for="name" class="visually-hidden">Имя</label>
                        <input type="text" id="name" name="name" placeholder="Имя*">
                    </div>
                    <div class="form__field form__field--tel">
                        <label for="tel" class="visually-hidden">Телефон</label>
                        <input type="tel" id="tel" name="tel" placeholder="Телефон*">
                    </div>
                    <button class="button button--main form__button-submit" type="submit">Отправить сообщение</button>
                </form>
            </div>
            <div class="branch__map">
                <div class="map">

                </div>
            </div>
        </div>        
    </section>
    <section class="contacts__branch branch branch--factory">
        <div class="page__wrap">
            <div class="branch__info">
                <h2 class="page__subtitle">ЗАВОД СТРОИТЕЛЬНОЙ КЕРАМИКИ «КЕТРА»</h2>
                <p class="address">Чувашская&nbsp;Республика, Красноармейский муниципальный&nbsp;округ, с.&nbsp;Красноармейское, проезд Заводской,&nbsp;дом 1</p>
                <p class="phone-numbers"><a href="tel:+78005004942">8 (800) 500-49-42</a></p>
                <a class="email" href="mailto:info@ketra.ru">info@ketra.ru</a>                
            </div>
            <div class="branch__additional">
                <picture>
                    <source type="image/webp" srcset="
                        ../contacts/factory-800@1x.webp 1x,
                        ../contacts/factory-800@2x.webp 2x,
                        ../contacts/factory-800@3x.webp 3x">
                    <source type="image/jpeg" srcset="
                        ../contacts/factory-800@1x.jpg 1x,
                        ../contacts/factory-800@2x.jpg 2x,
                        ../contacts/factory-800@3x.jpg 3x">
                    <img src="../contacts/factory.jpg" alt="Здание завода">
                </picture>
            </div>
            <div class="branch__map">
                <div class="map">

                </div>
            </div>
        </div>        
    </section>
    <section class="contacts__tab-info">
        <div class="page__wrap">
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'requisites')" id="defaultOpen">Реквизиты</button>
                <button class="tablinks" onclick="openCity(event, 'evaluation-of-works')">Специальная оценка труда</button>

            </div>
            <!-- Tab content -->
            <div id="requisites" class="tabcontent">
                <h3>Общество с ограниченной ответственностью «Торговый Дом «КЕТРА»</h3>
                <p>ИНН 2130141969, КПП 213001001, ОГРН 1142130011143</p>
                <h3>Юридический адрес, фактический (Почтовый) адрес: </h3>
                <p>428034, Чувашская Республика, г. Чебоксары, ул. Мичмана Павлова, д. 39, пом. 4</p>
                <h3>Банковские реквизиты:</h3>
                <p>Р/с № 40702810410530007841 в Филиале № 6318 ВТБ 24 (ПАО), К/с 30101810700000000955 в РКЦ САМАРА, ИНН 7710353603, БИК 043602955  </p>
            </div>
            
            <div id="evaluation-of-works" class="tabcontent">
                <ul class="documents__list">
                    <li>
                        <a href="#">Информация о проведении специальной оценки труда 2022г.</a>
                    </li>
                    <li>
                        <a href="#">Информация о проведении специальной оценки труда 2021г.</a>
                    </li>
                    <li>
                        <a href="#">Информация о проведении специальной оценки труда 2019г.</a>
                    </li>
                </ul>
            </div>           

        </div>
    </section>
</div>