<div id="modal-form-consultation" class="modal">
    <div class="modal__body">
        <div class="modal__content">
            <a href="#" class="modal__close-btn">
                <svg class="icon" width="18px" height="18px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-close"></use>
                </svg>
            </a>
            <h2 class="modal__title">Получить консультацию</h2>
            <div class="modal__text">
                <form class="form form--feedback">
                    <div class="form__field form__field--name">
                        <label for="name" class="visually-hidden">Имя</label>
                        <input type="text" id="name" name="name" placeholder="Имя*">
                    </div>
                    <div class="form__field form__field--org">
                        <label for="name" class="visually-hidden">Организация</label>
                        <input type="text" id="name" name="name" placeholder="Организация">
                    </div>
                    <div class="form__field form__field--tel">
                        <label for="tel" class="visually-hidden">Телефон</label>
                        <input type="tel" id="tel" name="tel" placeholder="Телефон*">
                    </div>
                    <button class="button button--main form__button-submit" type="submit">Отправить сообщение</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
Модальное окно
<div id="" class="modal">
    <div class="modal__body">
        <div class="modal__content">
            <a href="#" class="modal__close-btn">
                <svg class="icon" width="18px" height="18px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-close"></use>
                </svg>
            </a>
            <h2 class="modal__title">Заголовок</h2>
            <div class="modal__text">
                Основной контент модалки
            </div>
        </div>
    </div>
</div>

-->
