.news {
    &--section {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $dark-gray;

            @media (min-width: $lg-width) {
                display: none;
            }
        }

        & .page__wrap {
            @media (min-width: $lg-width) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "title link-more" "list list";
                column-gap: 100px;
                row-gap: 60px;
            }
    
            @media (min-width: $xl-width) {
                grid-template-columns: 1fr 560px;
                column-gap: 200px;
                padding-bottom: 0;
    
                &::after {
                    display: block;
                }
            }
        }

        & .page__subtitle {
            @media (min-width: $lg-width) {
                margin-bottom: 0;
                
            }
        }
    }

    &--page {
        & .page__wrap {    
            @media (min-width: $xl-width) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "title title" "list list" "pagination link";
    
                &::after {
                    display: block;
                }
            }
        }

        & .page__link-more {
            color: $black;
            @media (min-width: $xl-width) {
                grid-area: link;
            }
        }

        & .news-nav__pagination {
            display: none;
            @media (min-width: $xl-width) {
                display: flex;
                grid-area: pagination;
            }
        }

        & .news__list {

            margin-bottom: 30px;

        }

        & .news__item {
            @media (min-width: $xl-width) {
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $dark-gray;
                }
            }
        }
    }

    & .page__wrap {
        &::after {
            display: block;
        }
    }

    & .page__subtitle {
        grid-area: title;
    }

    & .page__link-more {
        margin-top: 30px;

        @media (min-width: $lg-width) {
            justify-self: end;
            align-self: center;
            margin-top: 0;
            grid-area: link-more;
        }

        @media (min-width: $xl-width) {
            margin-right: 30px;
        }
    }
    

    &__list {    
        @include list;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @media (min-width: $lg-width) {
            grid-area: list;
        }

        @media (min-width: $xl-width) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            position: relative;
            gap: 0;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $dark-gray;

            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    &__item {        
        overflow: hidden;
        position: relative;

        @media (min-width: $xl-width) {
            &:nth-child(3) {
                &::before {
                    display: none;
                }
            }
        }

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $dark-gray;

            @media (min-width: $xl-width) {
                bottom: unset;
                left: unset;
                width: 1px;
                height: 100%;
                right: 0;
                top: 0;
            }
        }

        
    }

    &__item.article {
        &:nth-child(even) {
            
        }
            

        & a {
            position: relative;
            color: inherit;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;

            @media (min-width: $xl-width) {
                width: 100%;
                height: 100%;
                padding: 30px;
                justify-content: space-between;
                
            }
        }

        & .article__img {
            @media (max-width: 1199px) {
                display: none;
            }
            position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                }  
                
                & picture {
                    width: 100%;
                    height: 100%
                }
    
                & img {
                    width: 100%;
                    height: 100%;
                    max-width: unset;
                }     

            

            
            

        }

        & time,
        & .article__date,
        & h3,
        & p {
            position: relative;
            z-index: 5;
        }

        & time,
        & .article__date {
            @include mp;
            @include text;
            color: $dark-gray;
            margin-bottom: 10px;
        }

        & h3 {
            @include mp;
            @include h3;
        }

        & p {
            display: none;            

            @media (min-width: $xl-width) {
                position: relative;
                @include mp;
                display: inline-flex;
                align-items: center;
                @include link;
                color: $urobilin;
                margin-top: 100px;
                display: block;
                align-self: flex-end;
                padding: 5px 30px;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $gray;
                    z-index: -1;
                    transition: $transition;
                }

                &::before {
                    top: 0;
                    transform: translateX(500px);
                }

                &::after {
                    top: 42px;
                    transform: translateX(-500px);
                }

                &:hover {
                    &::before,
                    &::after {
                        transform: translateX(0);
                    }
                    
                }
            }
        }
    }   


}

.news-nav {
    &__pagination {
        @media (min-width: $xl-width) {
            display: flex;
            align-items: stretch;
            gap: 30px;
            margin-left: 30px;

            & ul {
                @include list;
                @include link;
                display: flex;
                color: $dark-gray;
        
                & > li > a {
                    color: inherit;
                    text-decoration: none;
                    padding: 5px;
                    transition: $transition;
        
                    &:hover,
                    &:focus,
                    &:active {
                        color: $gray; 
                    }
                }
        
                li.active {
                    & > a {
                        color: $gray; 
                    }                    
                }
            }            
        }        
    }

    &__button {
        @include btn-reset;
        display: flex;
        align-items: center;
        justify-content: center;

        & .icon {
            width: 15px;
            height: 15px;
    
            & use.icon__symbol {
              fill: $gray;
            }
          }
    } 

    
}