<section class="news news--page">
    <div class="page__wrap">
        <h1 class="page__title">Новости</h1>
        <!--Нужно написать скрипт, который при разрешении >=1200px в списке .news__list будет искать четные элементы .news__item  и, если есть изображение, добавлять его и заголовок h3 окрашивать в белый, а если элемент нечетный или четный, но без изображения, то не показывать изображение и не менять цвет h3-->
        <ul class="news__list">
            <li class="news__item article">
                <div class="article__img">
                    <picture>
                        <source type="image/webp" srcset="
                            ../news/image1-415@1x.webp 1x,
                            ../news/image1-415@2x.webp 2x,
                            ../news/image1-415@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../news/image1-415@1x.jpg 1x,
                            ../news/image1-415@2x.jpg 2x,
                            ../news/image1-415@3x.jpg 3x">
                        <img src="../news/image1.jpg" alt="">
                    </picture>
                </div>
                <a href="article.html">
                    <time class="article__date" datetime="2024-04-04">04.04.2024</time>
                    <h3>Скидка 10%</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item article">
                <div class="article__img">
                    <picture>
                        <source type="image/webp" srcset="
                            ../news/image3-415@1x.webp 1x,
                            ../news/image3-415@2x.webp 2x,
                            ../news/image3-415@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../news/image3-415@1x.jpg 1x,
                            ../news/image3-415@2x.jpg 2x,
                            ../news/image3-415@3x.jpg 3x">
                        <img src="../news/image3.jpg" alt="">
                    </picture>
                </div>
                <a href="article.html">
                    <time class="article__date" datetime="2024-03-14">14.03.2024</time>
                    <h3>КАК РАСПИЛИТЬ КЕРАМИЧЕСКИЕ БЛОКИ БЕЗ ЛИШНЕГО ТРУДА</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item article">
                <div class="article__img">
                    <picture>
                        <source type="image/webp" srcset="
                            ../news/image2-415@1x.webp 1x,
                            ../news/image2-415@2x.webp 2x,
                            ../news/image2-415@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../news/image2-415@1x.jpg 1x,
                            ../news/image2-415@2x.jpg 2x,
                            ../news/image2-415@3x.jpg 3x">
                        <img src="../news/image2.jpg" alt="">
                    </picture>
                </div>
                <a href="article.html">
                    <time class="article__date" datetime="2023-11-24">24.11.2023</time>
                    <h3>Выбор застройщиков Марий Эл</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item article">
                <a href="article.html">
                    <time class="article__date" datetime="2023-12-06">06.12.2023</time>
                    <h3>Что необходимо учесть при строительстве дома зимой</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item article">
                <a href="article.html">
                    <time class="article__date" datetime="2023-11-28">28.11.2023</time>
                    <h3>Продкуция "Кетра" для тех, кто ценит качесвто</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item article">
                <a href="article.html">
                    <time class="article__date" datetime="2023-11-24">24.11.2023</time>
                    <h3>ВСТРЕЧА С ДИСТРИБЬЮТЕРАМИ</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item article">
                <a href="article.html">
                    <time class="article__date" datetime="2023-04-04">04.04.2024</time>
                    <h3>ОГНЕСТОЙКОСТЬ ДОМА ИЗ КЕРАМИЧЕСКИХ БЛОКОВ</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item article">
                <a href="article.html">
                    <time class="article__date" datetime="2023-12-06">06.12.2023</time>
                    <h3>Что необходимо учесть при строительстве дома зимой</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item article">
                <a href="article.html">
                    <time class="article__date" datetime="2023-11-24">24.11.2023</time>
                    <h3>ЭКОЛОГИЯ ОКРУЖАЮЩЕЙ СРЕДЫ</h3>
                    <p>Читать статью</p>
                </a>
            </li>
        </ul>
        <div class="news-nav__pagination">
            <button class="news-nav__button news-nav__button--left">
                <svg class="icon" width="15px" height="15px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-arrow-left"></use>
                </svg>
                <span class="visually-hidden">Назад</span>
            </button>
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li>&mdash;</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
            <button class="news-nav__button news-nav__right">
                <svg class="icon" width="15px" height="15px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
                </svg>
                <span class="visually-hidden">Вперед</span>
            </button>
        </div>
        <a class="page__link-more" href="#">
            Показать ещё
            <svg class="icon" width="14px" height="9px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-outline"></use>
            </svg>
        </a>
    </div>
</section>