<section class="news news--section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Жить развиваясь</h2>
        <ul class="news__list">
            <li class="news__item">
                <a href="#">
                    <time class="news__date" datetime="2023-12-06">06.12.2023</time>
                    <h3>Что необходимо учесть при строительстве дома зимой</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item">
                <a href="#">
                    <time class="news__date" datetime="2023-11-28">28.11.2023</time>
                    <h3>Продкуция "Кетра" для тех, кто ценит качесвто</h3>
                    <p>Читать статью</p>
                </a>
            </li>
            <li class="news__item">
                <a href="#">
                    <time class="news__date" datetime="2023-11-24">24.11.2023</time>
                    <h3>Выбор застройщиков Марий Эл</h3>
                    <p>Читать статью</p>
                </a>
            </li>
        </ul>
        <a class="page__link-more" href="#">
            Читать все новости
            <svg class="icon" width="14px" height="9px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-outline"></use>
            </svg>
        </a>
    </div>
</section>