<div class="page__title-nav">
    <div class="wrap">
        <h1 class="page__title page__title--catalog-section">Облицовочный кирпич</h1>
        <a class="page__section-link" href="./catalog-section.html">
            <picture>
                <source type="image/jpeg" srcset="
                    ../catalog/krupnoformatnye-kamni-120@1x.png 1x,
                    ../catalog/krupnoformatnye-kamni-120@2x.png 2x,
                    ../catalog/krupnoformatnye-kamni-120@3x.png 3x">
                <img src="../catalog/krupnoformatnye-kamni.png" alt="">
            </picture>
            <span>Крупноформатные камни</span>
            <svg class="icon" width="15px" height="15px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
            </svg>
        </a>
    </div>
    
</div>	
<div class="catalog-filters">
    <div class="catalog-filters__wrap">
        <button class="catalog-filters__button">Фильтр</button>
        <form class="catalog-filters__form">
            <fieldset>
                <legend>Выберите цвет кирпича:</legend>
                <select>
                    <option>Все цвета</option>
                    <option>Цвет 1</option>
                    <option>Цвет 2</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Выберите фактуру кирпича:</legend>
                <select>
                    <option>Все фактуры</option>
                    <option>Фактура 1</option>
                    <option>Фактура 2</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Выберите фактуру кирпича:</legend>
                <select>
                    <option>Все размеры (типы)</option>
                    <option>Размер 1</option>
                    <option>Размер 2</option>
                </select>
            </fieldset>
        </form>
    </div>
</div>
<section class="catalog catalog--section">
    <div class="page__wrap catalog__wrap">
        <ul class="catalog__list">
            <li class="catalog__item product">
                <a class="product__detail-link" href="./product.html">
                    <ul class="catalog__label-list">
                        <li class="label label--hit">Хит продаж</li>
                        <li class="label label--new">Новинка</li>
                    </ul>
                    <div class="product__img-wrap">
                        <picture>
                            <source type="image/webp" srcset="
                                ../catalog/product-bavaria-dark-kirpich-600@1x.webp 1x,
                                ../catalog/product-bavaria-dark-kirpich-600@2x.webp 2x,
                                ../catalog/product-bavaria-dark-kirpich-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../catalog/product-bavaria-dark-kirpich-600@1x.png 1x,
                                ../catalog/product-bavaria-dark-kirpich-600@2x.png 2x,
                                ../catalog/product-bavaria-dark-kirpich-600@3x.png 3x">
                            <img class="product__img product__img--preview" src="../catalog/product-bavaria-dark-kirpich.png" alt="">
                        </picture>
                        <picture>
                            <source type="image/webp" srcset="
                                ../catalog/product-bavaria-dark-kladka-600@1x.webp 1x,
                                ../catalog/product-bavaria-dark-kladka-600@2x.webp 2x,
                                ../catalog/product-bavaria-dark-kladka-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../catalog/product-bavaria-dark-kladka-600@1x.png 1x,
                                ../catalog/product-bavaria-dark-kladka-600@2x.png 2x,
                                ../catalog/product-bavaria-dark-kladka-600@3x.png 3x">
                            <img class="product__img product__img--main" src="../catalog/product-bavaria-dark-kladka.png" alt="">
                        </picture>
                    </div>
                    
                    <div class="product__info">
                        <h3 class="product__title">"БАВАРИЯ" ТЕМНЫЙ 1.4 NF</h3>
                        <div class="product__description">
                            <ul>
                                <li>Вес: 3.5 кг</li>
                                <li>Размеры: 250х120х65 мм</li>
                                <li>Количество на поддоне: 420 шт.</li>
                                <li>Характеристика: значение</li>
                            </ul>
                        </div>
                        <p class="product__price"><span>48.67</span> руб. / шт.</p>
                        <div class="product__arrow">
                            <svg class="icon" width="15px" height="15px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </div>
                        
                    </div>
                </a>
                
            </li>
            <li class="catalog__item product">
                <a class="product__detail-link" href="./product.html">
                    <ul class="catalog__label-list">
                        <li class="label label--hit">Хит продаж</li>    
                    </ul>
                    <div class="product__img-wrap">
                        <picture>
                            <source type="image/webp" srcset="
                                ../catalog/product-barhat-1-nf-600@1x.webp 1x,
                                ../catalog/product-barhat-1-nf-600@2x.webp 2x,
                                ../catalog/product-barhat-1-nf-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../catalog/product-barhat-1-nf-600@1x.png 1x,
                                ../catalog/product-barhat-1-nf-600@2x.png 2x,
                                ../catalog/product-barhat-1-nf-600@3x.png 3x">
                            <img class="product__img product__img--main" src="../catalog/product-barhat-1-nf.png" alt="">
                        </picture>
                    </div>                    
                    <div class="product__info">
                        <h3 class="product__title">СОЛОМА "БАРХАТ" 1 NF</h3>
                        <div class="product__description">
                            <ul>
                                <li>Вес: 2.3 кг</li>
                                <li>Размеры: 250х120х65 мм</li>
                                <li>Количество на поддоне: 420 шт.</li>
                            </ul>
                        </div>
                        <p class="product__price"><span>34.76</span> руб. / шт.</p>
                        <div class="product__arrow">
                            <svg class="icon" width="15px" height="15px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </div>
                        
                    </div>
                </a>
                
            </li>
            <li class="catalog__item product">
                <a class="product__detail-link" href="./product.html">
                    <ul class="catalog__label-list">
                        <li class="label label--new">Новинка</li>
                    </ul>
                    <div class="product__img-wrap">
                        <picture>
                            <source type="image/webp" srcset="
                                ../catalog/product-soloma-relef-1-nf-600@1x.webp 1x,
                                ../catalog/product-soloma-relef-1-nf-600@2x.webp 2x,
                                ../catalog/product-soloma-relef-1-nf-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../catalog/product-soloma-relef-1-nf-600@1x.png 1x,
                                ../catalog/product-soloma-relef-1-nf-600@2x.png 2x,
                                ../catalog/product-soloma-relef-1-nf-600@3x.png 3x">
                            <img class="product__img product__img--main" src="../catalog/product-soloma-relef-1-nf.png" alt="">
                        </picture>
                    </div>                    
                    <div class="product__info">
                        <h3 class="product__title">СОЛОМА "РЕЛЬЕФ" 1 NF</h3>
                        <div class="product__description">
                            <ul>
                                <li>Вес: 2.3 кг</li>
                                <li>Размеры: 250х120х65 мм</li>
                                <li>Количество на поддоне: 420 шт.</li>
                            </ul>
                        </div>
                        <p class="product__price"><span>34.76</span> руб. / шт.</p>
                        
                        <div class="product__arrow">
                            <svg class="icon" width="15px" height="15px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </div>
                    </div>

                </a>
                
            </li>
            <li class="catalog__item product">
                <a class="product__detail-link" href="./product.html">                    
                    <div class="product__img-wrap">
                        <picture>
                            <source type="image/webp" srcset="
                                ../catalog/product-ketra21-600@1x.webp 1x,
                                ../catalog/product-ketra21-600@2x.webp 2x,
                                ../catalog/product-ketra21-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../catalog/product-ketra21-600@1x.png 1x,
                                ../catalog/product-ketra21-600@2x.png 2x,
                                ../catalog/product-ketra21-600@3x.png 3x">
                            <img class="product__img product__img--main" src="../catalog/product-ketra21.png" alt="">
                        </picture>
                    </div>
                    <div class="product__info">
                        <h3 class="product__title">KЕТРА 2.1</h3>
                        <div class="product__description">
                            <ul>
                                <li>Вес: 3.4кг</li>
                                <li>Размеры: 250х120х65 мм</li>
                                <li>Количество на поддоне: 420 шт.</li>
                            </ul>
                            
                        </div>
                        <p class="product__price"><span>33.08</span> руб. / шт.</p>                         
                        <div class="product__arrow">
                            <svg class="icon" width="15px" height="15px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
                            </svg> 
                        </div>  
                    </div>
                </a>                
            </li>
            <li class="catalog__item product">
                <a class="product__detail-link" href="./product.html">                    
                    <div class="product__img-wrap">
                        <picture>
                            <source type="image/webp" srcset="
                                ../catalog/product-ketra8-600@1x.webp 1x,
                                ../catalog/product-ketra8-600@2x.webp 2x,
                                ../catalog/product-ketra8-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../catalog/product-ketra8-600@1x.png 1x,
                                ../catalog/product-ketra8-600@2x.png 2x,
                                ../catalog/product-ketra8-600@3x.png 3x">
                            <img class="product__img product__img--main" src="../catalog/product-ketra8.png" alt="">
                        </picture>
                    </div>
                    <div class="product__info">
                        <h3 class="product__title">КЕТРА 8</h3>
                        <div class="product__description">
                            <ul>
                                <li>Вес: 9.2кг</li>
                                <li>Размеры: 250х120х65 мм</li>
                                <li>Количество на поддоне: 420 шт.</li>
                            </ul>
                        </div>
                        <p class="product__price"><span>84.49</span> руб. / шт.</p>                        
                        <div class="product__arrow">
                            <svg class="icon" width="15px" height="15px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="catalog__item product">
                <a class="product__detail-link" href="./product.html">                    
                    <div class="product__img-wrap">
                        <picture>
                            <source type="image/webp" srcset="
                                ../catalog/product-ketra10-600@1x.webp 1x,
                                ../catalog/product-ketra10-600@2x.webp 2x,
                                ../catalog/product-ketra10-600@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../catalog/product-ketra10-600@1x.png 1x,
                                ../catalog/product-ketra10-600@2x.png 2x,
                                ../catalog/product-ketra10-600@3x.png 3x">
                            <img class="product__img product__img--main" src="../catalog/product-ketra10.png" alt="">
                        </picture>
                    </div>
                    <div class="product__info">
                        <h3 class="product__title">КЕТРА 10</h3>
                        <div class="product__description">
                            <ul>
                                <li>Вес: 11.8кг</li>
                                <li>Размеры: 250х120х65 мм</li>
                                <li>Количество на поддоне: 420 шт.</li>
                            </ul>                       
                        </div>
                        <p class="product__price"><span>106.92</span> руб. / шт.</p> 
                            
                        <div class="product__arrow">
                            <svg class="icon" width="15px" height="15px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                
            </li>
        </ul>
    </div>
</section>
<div class="catalog-nav">
    <div class="page__wrap">
        <div class="catalog-nav__pagination">
            <button class="catalog-nav__button catalog-nav__button--left">
                <svg class="icon" width="15px" height="15px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-arrow-left"></use>
                </svg>
                <span class="visually-hidden">Назад</span>
            </button>
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li>&mdash;</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
            <button class="catalog-nav__button catalog-nav__right">
                <svg class="icon" width="15px" height="15px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-arrow-right"></use>
                </svg>
                <span class="visually-hidden">Вперед</span>
            </button>
        </div>
        <a class="catalog-nav__show-more" href="#">
            Показать еще
            <svg class="icon" width="14px" height="9px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-outline"></use>
            </svg>
        </a>
    </div>
    
</div>