<section class="reviews reviews--section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Отзывы о компании</h2>
        <ul class="reviews__list">
            <li class="reviews__item review">
                <div class="review__media">
                    <a>
                        <picture>
                            <source type="image/webp" srcset="
                                ../reviews/reviews1-728@1x.webp 1x,
                                ../reviews/reviews1-728@2x.webp 2x,
                                ../reviews/reviews1-728@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../reviews/reviews1-728@1x.jpg 1x,
                                ../reviews/reviews1-728@2x.jpg 2x,
                                ../reviews/reviews1-728@3x.jpg 3x">
                            <img class="slide__img" src="../reviews/reviews1.jpg" alt="Видеотзыв">
                        </picture>
                        <button class="play-video"><span class="visually-hidden">Воспроизвести видео</span></button>
                    </a>
                    
                </div>
                <p class="review__author">
                    <span class="review__author-name">Мутгалиев Руслан Исаевич</span> 
                    <span class="review__author-position">директор компании “Казанский посад”</span> 
                    <span class="review__author-location">Йошкар-Ола</span>
                </p>
            </li>
            <li class="reviews__item review">
                <div class="review__media">
                    <a>
                        <picture>
                            <source type="image/webp" srcset="
                                ../reviews/reviews2-728@1x.webp 1x,
                                ../reviews/reviews2-728@2x.webp 2x,
                                ../reviews/reviews2-728@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../reviews/reviews2-728@1x.jpg 1x,
                                ../reviews/reviews2-728@2x.jpg 2x,
                                ../reviews/reviews2-728@3x.jpg 3x">
                            <img class="slide__img" src="../reviews/reviews2.jpg" alt="Видеотзыв">
                        </picture>
                        <button class="play-video"><span class="visually-hidden">Воспроизвести видео</span></button>
                    </a>
                     
                </div>
                <p class="review__author">
                    <span class="review__author-name">Марков Александр Олегович</span> 
                    <span class="review__author-position">директор компании “Дом 152”</span> 
                    <span class="review__author-location">Нижний Новгород</span>
                </p>
            </li>
        </ul>
        <a class="page__link-more" href="#">
            Все отзывы
            <svg class="icon" width="14px" height="9px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-outline"></use>
            </svg>
        </a>
    </div>
</section>