.reviews {
    &--section {
        & .page__wrap {
            @media (min-width: $xl-width) {
                &::after {
                    display: block;
                }
            }
            
        }

    }

    &__swiper {
        position: relative;
    }

    &__nav {
        @media (min-width: $md-width) {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        & .swiper-button-next, 
        & .swiper-button-prev {
            position: absolute;
            top: 50%;
            width: 30px;
            height: 30px;
            margin: 0;

            @media (min-width: $md-width) {
                top: -60px;
            }
            


            &::after {
            display: none;
            }

            & .icon {
            width: 15px;
            height: 15px;

            & use.icon__symbol {
                fill: $gray;
            }
            }

        }

        & .swiper-button-next {
            right: 0;

            @media (min-width: $md-width) {
                right: 30px;  
            }
        }

        & .swiper-button-prev {
            left: 0;

            @media (min-width: $md-width) {
                left: unset;
                right: 80px;  
            }
        }
    }

    &__list {
        width: 100%;
        @include list;
        display: flex;
        align-items: stretch;
        height: 100%;

        
    }


    &__item {
        padding-bottom: 20px;

        @media (min-width: $lg-width) {
            border: none;
        }

        @media (min-width: $xl-width) {
            padding-bottom: 0;
            display: flex;
            gap: 0;
        }

        @media (min-width: $xl-width) {
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $dark-gray;
                z-index: 1;

            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        & .review {           
            
            &__media {
                aspect-ratio: 310 / 238;
                margin-bottom: 20px;

                @media (min-width: $xl-width) {
                    width: 295px;
                    aspect-ratio: 295 / 311;
                    margin-bottom: 0;
                }
    
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &__media a {
                display: block;
                position: relative;
                height: 100%;

                & picture {
                    height: 100%;
                }

                & .play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    @include btn-reset;
                    width: 65px;
                    height: 65px;
                    background-color: $maize;
                    border-radius: 50%;
                    background-image: url("../icons/play.svg");
                    background-repeat: no-repeat;
                    background-position: left 20px top 18px;
                    background-size: 28px 28px;
                }
            }
    
            &__author {
                @include mp;

                @media (min-width: $xl-width) {
                    width: 250px;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                }

                & span {
                    display: block;
                }
            }

            &__author-name {
                @include h3;
                margin-bottom: 10px;

                @media (min-width: $xl-width) {
                    margin-bottom: 15px;
                }
            }

            &__author-position,
            &__author-location {
                @include text;
                
            }

            &__author-position {
                margin-bottom: 5px;
            }

            &__author-location {
                @media (min-width: $xl-width) {
                    margin-top: auto;
                }
            }
        }        
    }
}