<footer class="main-footer">
    <div class="page__wrap">
        <div class="main-footer__logo-wrap">
            <include src="./src/components/blocks/logo/logo-light.html"></include> 
        </div>
        <p class="main-footer__privacy-policy"><a href="#">Соглашение о конфиденциальности и защите персональных данных</a></p>        
        <p class="main-footer__phone"><a href="tel:+78005004942">8 (800) 500-49-42</a><span>Бесплатный звонок по всей России</span></p>
        <include src="./src/components/blocks/social-links/social-links.html"></include>
        <include src="./src/components/blocks/site-nav/site-nav.html"></include>
        <nav class="catalog-nav">
            <ul class="catalog-nav__list">
                <li>
                    <span>Кирпичи</span>
                    <ul>
                        <li>Лицевой кирпич</li>
                        <li><a href="#">Облицовочный кирпич</a></li>
                        <li>Керамический кирпич</li>
                        <li>Строительный пустотелый кирпич</li>
                    </ul>
                </li>
                <li>
                    <span>Блоки</span>
                    <ul>
                        <li>Крупноформатный блок</li>
                        <li>Перегородочный блок</li>
                        <li>Поризованные керамические блоки</li>
                        <li>Климаблок</li> 
                    </ul>
                    
                </li>
                <li>
                    <span>Камни</span>
                    <ul>
                        <li><a href="#">Крупноформатный камень</a></li>
                        <li>Пористый керамический камень</li>
                        <li>Пустотелый керамический камень</li>   
                    </ul>              
                    
                    
                </li>
                
            </ul>
        </nav>
    </div>
</footer>