<footer class="main-footer">
    <div class="page__wrap">
        <div class="main-footer__logo-wrap">
            <include src="./src/components/blocks/logo/logo-light.html"></include> 
        </div>
        <p class="main-footer__privacy-policy"><a href="#">Соглашение о конфиденциальности и защите персональных данных</a></p>        
        <p class="main-footer__phone"><a href="tel:+78005004942">8 (800) 500-49-42</a><span>Бесплатный звонок по всей России</span></p>
        <include src="./src/components/blocks/social-links/social-links.html"></include>
        <include src="./src/components/blocks/site-nav/site-nav.html"></include>
        <nav class="catalog-nav">
            <ul class="catalog-nav__list">
                <li>
                    <a href="#">Кирпичи</a>
                    <ul>
                        <li><a href="#">Лицевой кирпич</a></li>
                        <li><a href="#">Облицовочный кирпич</a></li>
                        <li><a href="#">Керамический кирпич</a></li>
                        <li><a href="#">Строительный пустотелый кирпич</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Блоки</a>
                    <ul>
                        <li><a href="#">Крупноформатный блок</a></li>
                        <li><a href="#">Перегородочный блок</a></li>
                        <li><a href="#">Поризованные керамические блоки</a></li>
                        <li><a href="#">Климаблок</a></li> 
                    </ul>
                    
                </li>
                <li>
                    <a href="#">Камни</a>
                    <ul>
                        <li><a href="#">Крупноформатный камень</a></li>
                        <li><a href="#">Пористый керамический камень</a></li>
                        <li><a href="#">Пустотелый керамический камень</a></li>   
                    </ul>              
                    
                    
                </li>
                
            </ul>
        </nav>
    </div>
</footer>