<div class="social-links">
    <ul class="social-links__list">
        <li>
            <a href="#">
                <svg class="icon" width="18px" height="12px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-vk"></use>
                </svg>
                <span class="visually-hidden">Вконтакте</span>
            </a>            
        </li>
        <li>
            <a href="#">
                <svg class="icon" width="16px" height="12px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-youtube"></use>
                </svg>
                <span class="visually-hidden">Ютуб</span>
            </a>            
        </li>
    </ul>
</div>
