<ul class="site-nav">
    <li><a href="/">Главная</a></li>
    <li><a href="./catalog.html">Каталог продукции</a></li>
    <li>
        <a href="./o-kompanii.html">О компании</a>
        <ul class="site-nav__submenu">
            <li>
                <a href="./vakansii.html">Вакансии</a>
            </li>
            <li>
                <a href="./novosti.html">Новости</a>
            </li>
        </ul>
    </li>
    <li><a href="./kontakty.html">Контакты</a></li>
    <li><a href="./distribyuteram-i-partneram.html">Дистрибьютерам и партнерам</a></li>
</ul>