@import "variables";
@import "mixins";
@import "fonts";
@import "scaffolding";
@import "blocks/icons/icons";
@import "blocks/button//button";
@import "blocks/page/page";
@import "blocks/main-header/main-header";
@import "blocks/burger/burger";
@import "blocks/logo/logo";
@import "blocks/main-nav/main-nav";
@import "blocks/site-nav/site-nav";
@import "blocks/location/location";
@import "blocks/main-slider/main-slider";
@import "blocks/product/product";
@import "blocks/calc/calc";