<section class="feedback">
    <div class="page__wrap feedback__wrap">
        <h2 class="page__subtitle">Написать нам</h2>
        <div class="feedback__text">
            <p>Мы всегда открыты для общения! Напишите нам свои вопросы, предложения или отзывы. Наша команда готова помочь вам.</p>
        </div>
        <div class="feedback__form">
            <include src="./src/components/blocks/form/form-feedback.html"></include>
        </div>
        <div class="feedback__text-phone">
            <p>Заполните форму обратной связи для ваших вопросов или просто позвоните нам.</p>
            <a href="#" class="feedback__phone">
                <p>8 (800) 500-49-42<span>Бесплатный звонок по всей России</span></p>
            </a>
        </div>
    </div>
</section>