<div class="about">
    <div class="about__header">
        <div class="page__wrap">
            <h1 class="page__title">Мы не просто производим кирпичи, мы создаем фундамент для ваших идей.</h1>
            <div class="about__header-text">Производим стеновые строительные материалы по новейшей австрийской технологии из высококачественного сырья с собственных глиняных и песчаных карьеров.</div>
        </div>
        
    </div>
    <div class="about__video">
        <div class="video">

        </div>
        <button class="video__play-btn"><span class="visually-hidden">Воспроизвести видео</span></button>
        <h3 class="video__title">как создаются <span>надежные</span> строительные материалы</h3>
    </div>
    <div class="director">
        <div class="page__wrap">
            <div class="director__wrap">
                <div class="director__persona">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/director-600@1x.webp 1x,
                            ../about/director-600@2x.webp 2x,
                            ../about/director-600@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/director-600@1x.jpg 1x,
                            ../about/director-600@2x.jpg 2x,
                            ../about/director-600@3x.jpg 3x">
                        <img src="../about/director.jpg" alt="">
                    </picture>
                    <div class="director__persona-text">
                        <h3>Угаслов Александр Николаевич</h3>
                        <p>Директор филиала завода строительной керамики «КЕТРА»</p>
                    </div>            
                </div>
                <div class="director__text">
                    <p>Строительство — сложный и трудоемкий процесс. Однако с использованием кирпича XXI века — материала, в котором традиции кирпичного строительства дополнены новейшими технологиями энергосбережения, процесс можно ускорить и не сомневаться в результате. Выбор строительного материала для стен может существенно повлиять не только на общестроительные расходы, но и на качество постройки. Низкие расходы на ремонт, низкое электропотребление и высокая ликвидность при продаже делают застройку хорошей инвестицией в будущее</p>
                </div>
            </div>
        </div>
        
        
    </div>
    <section class="keyfigures">
        <div class="page__wrap">
            <h2 class="page__subtitle">Ключевые цифры</h2>
            
            <ul class="keyfigures__list">
                
                <li class="keyfigures__item">
                    <p><span>60млн</span>кирпичей НФ в год - проектная мощность завода</p>
                </li>
                <li class="keyfigures__item">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/keyfigures1-600@1x.webp 1x,
                            ../about/keyfigures1-600@2x.webp 2x,
                            ../about/keyfigures1-600@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/keyfigures1-600@1x.jpg 1x,
                            ../about/keyfigures1-600@2x.jpg 2x,
                            ../about/keyfigures1-600@3x.jpg 3x">
                        <img src="../about/keyfigures1.jpg" alt="">
                    </picture>
                </li>
                <li class="keyfigures__item">
                    <p><span>на 20-30%</span>сокращение энергопотребления зданий засчет энергоэффективной технологии</p>
                </li>
                <li class="keyfigures__item">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/keyfigures2-600@1x.webp 1x,
                            ../about/keyfigures2-600@2x.webp 2x,
                            ../about/keyfigures2-600@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/keyfigures2-600@1x.jpg 1x,
                            ../about/keyfigures2-600@2x.jpg 2x,
                            ../about/keyfigures2-600@3x.jpg 3x">
                        <img src="../about/keyfigures2.jpg" alt="">
                    </picture>
                </li>
                <li class="keyfigures__item">
                    <p><span>Bedesсhi</span>производственная линия завода укомплектована итальянским оборудованием</p>
                </li>
                <li class="keyfigures__item">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/keyfigures3-600@1x.webp 1x,
                            ../about/keyfigures3-600@2x.webp 2x,
                            ../about/keyfigures3-600@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/keyfigures3-600@1x.jpg 1x,
                            ../about/keyfigures3-600@2x.jpg 2x,
                            ../about/keyfigures3-600@3x.jpg 3x">
                        <img src="../about/keyfigures3.jpg" alt="">
                    </picture>
                </li>
                <li class="keyfigures__item">
                    <p><span>3 карьера</span>наши глиняные и песчаные карьеры поставляют высококачественное сырье</p>
                </li>
                <li class="keyfigures__item">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/keyfigures4-600@1x.webp 1x,
                            ../about/keyfigures4-600@2x.webp 2x,
                            ../about/keyfigures4-600@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/keyfigures4-600@1x.jpg 1x,
                            ../about/keyfigures4-600@2x.jpg 2x,
                            ../about/keyfigures4-600@3x.jpg 3x">
                        <img src="../about/keyfigures4.jpg" alt="">
                    </picture>
                </li>
                <li class="keyfigures__item">
                    <p><span>90%</span>кремнезема в нашем песке - залог высокого качества кирпичей</p>
                </li>
                <li class="keyfigures__item">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/keyfigures5-600@1x.webp 1x,
                            ../about/keyfigures5-600@2x.webp 2x,
                            ../about/keyfigures5-600@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/keyfigures5-600@1x.jpg 1x,
                            ../about/keyfigures5-600@2x.jpg 2x,
                            ../about/keyfigures5-600@3x.jpg 3x">
                        <img src="../about/keyfigures5.jpg" alt="">
                    </picture>
                </li>
                <li class="keyfigures__item">
                    <p><span>250 000</span>кв.м. жилья позволяет застроить объем выпускаемой заводом продукции</p>
                </li>
                <li class="keyfigures__item">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/keyfigures6-600@1x.webp 1x,
                            ../about/keyfigures6-600@2x.webp 2x,
                            ../about/keyfigures6-600@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/keyfigures6-600@1x.jpg 1x,
                            ../about/keyfigures6-600@2x.jpg 2x,
                            ../about/keyfigures6-600@3x.jpg 3x">
                        <img src="../about/keyfigures6.jpg" alt="">
                    </picture>
                </li>
            </ul>
        </div>
    </section>
    <section class="about__products">
        <div class="products">
            <div class="page__wrap">
                <div class="products__text-wrap">                    
                    <h2 class="page__subtitle">Наша продукция</h2>
                    <div class="products__text">
                        <p>Мы наладили полный цикл производства на нашем предприятии, что обеспечивает максимальную интеграцию всех этапов — от добычи сырья до отправки готовой продукции. Эта система позволяет нам создавать продукцию высочайшего качества и повышать эффективность производства</p>
                    </div>
                    <a class="button button--main">Перейти в каталог</a>
                </div>
                <div class="products__img-wrap">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/brick-heart-2000@1x.webp 1x,
                            ../about/brick-heart-2000@2x.webp 2x,
                            ../about/brick-heart-2000@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/brick-heart-2000@1x.jpg 1x,
                            ../about/brick-heart-2000@2x.jpg 2x,
                            ../about/brick-heart-2000@3x.jpg 3x">
                        <img src="../about/brick-heart.jpg" alt="">
                    </picture>
                </div>            
            </div>
        </div>        
    </section>
    <section class="laboratory">
        <div class="page__wrap">
            <h2 class="page__subtitle">Исследования в лаборатории</h2>
            <div class="laboratory__content">
                <div class="laboratory__img laboratory__img--main">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/laboratory1-750@1x.webp 1x,
                            ../about/laboratory1-750@2x.webp 2x,
                            ../about/laboratory1-750@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/laboratory1-750@1x.jpg 1x,
                            ../about/laboratory1-750@2x.jpg 2x,
                            ../about/laboratory1-750@3x.jpg 3x">
                        <img src="../about/laboratory1.jpg" alt="">
                    </picture>
                </div>                
                <div class="laboratory__text laboratory__text--one">
                    <p>Перед отгрузкой на склад каждую партию готовой продукции проверяют на соответствие геометрии и отсутствие трещин и других дефектов. Также проводят обязательные испытания на марочную прочность, водопоглощение и морозостойкость.</p>
                </div>
                <div class="laboratory__img laboratory__img--one">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/laboratory2-750@1x.webp 1x,
                            ../about/laboratory2-750@2x.webp 2x,
                            ../about/laboratory2-750@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/laboratory2-750@1x.jpg 1x,
                            ../about/laboratory2-750@2x.jpg 2x,
                            ../about/laboratory2-750@3x.jpg 3x">
                        <img src="../about/laboratory2.jpg" alt="">
                    </picture>
                </div>                
                <div class="laboratory__text laboratory__text--two">
                    <p>Испытания проходит не только готовая продукция, задача лаборатории проверять входящее сырье — поступающую из карьера глину, песок и трепел. Их проверяют на влажность, гранулометрический и химический состав.</p>
                </div>
                <div class="laboratory__img laboratory__img--two">
                    <picture>
                        <source type="image/webp" srcset="
                            ../about/laboratory3-750@1x.webp 1x,
                            ../about/laboratory3-750@2x.webp 2x,
                            ../about/laboratory3-750@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../about/laboratory3-750@1x.jpg 1x,
                            ../about/laboratory3-750@2x.jpg 2x,
                            ../about/laboratory3-750@3x.jpg 3x">
                        <img src="../about/laboratory3.jpg" alt="">
                    </picture>
                </div>                
            </div>            
        </div>
    </section>
    <section class="clients">
        <div class="page__wrap">
            <h2 class="page__subtitle">Нам доверяют</h2>
            <ul class="clients__list">
                <li class="clients__item">
                    <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <picture>
                            <source type="image/webp" srcset="
                                ../about/otdelfinstroy-500@1x.webp 1x,
                                ../about/otdelfinstroy-500@2x.webp 2x,
                                ../about/otdelfinstroy-500@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../about/otdelfinstroy-500@1x.png 1x,
                                ../about/otdelfinstroy-500@2x.png 2x,
                                ../about/otdelfinstroy-500@3x.png 3x">
                            <img src="../about/otdelfinstroy.png" alt="">
                        </picture>
                        <h3 class="visually-hidden">Специализированный застройщик Отделфинстрой</h3>
                    </a>                    
                </li>
                <li class="clients__item">
                    <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <picture>
                            <source type="image/webp" srcset="
                                ../about/noviy-gorod-500@1x.webp 1x,
                                ../about/noviy-gorod-500@2x.webp 2x,
                                ../about/noviy-gorod-500@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../about/noviy-gorod-500@1x.png 1x,
                                ../about/noviy-gorod-500@2x.png 2x,
                                ../about/noviy-gorod-500@3x.png 3x">
                            <img src="../about/noviy-gorod.png" alt="">
                        </picture>
                        <h3 class="visually-hidden">Новый город</h3>
                    </a>                    
                </li>
                <li class="clients__item">
                    <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <picture>
                            <source type="image/webp" srcset="
                                ../about/mikrorayon-universitet-500@1x.webp 1x,
                                ../about/mikrorayon-universitet-500@2x.webp 2x,
                                ../about/mikrorayon-universitet-500@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../about/mikrorayon-universitet-500@1x.png 1x,
                                ../about/mikrorayon-universitet-500@2x.png 2x,
                                ../about/mikrorayon-universitet-500@3x.png 3x">
                            <img src="../about/mikrorayon-universitet.png" alt="">
                        </picture>
                        <h3 class="visually-hidden">Микрорайон Университет</h3>
                    </a>
                    
                </li>
                <li class="clients__item">
                    <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <picture>
                            <source type="image/webp" srcset="
                                ../about/tekhnologiya-500@1x.webp 1x,
                                ../about/tekhnologiya-500@2x.webp 2x,
                                ../about/tekhnologiya-500@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../about/tekhnologiya-500@1x.png 1x,
                                ../about/tekhnologiya-500@2x.png 2x,
                                ../about/tekhnologiya-500@3x.png 3x">
                            <img src="../about/tekhnologiya.png" alt="">
                        </picture>
                        <h3 class="visually-hidden">Специализированный застройщик Технология</h3>
                    </a>
                    
                </li>
                <li class="clients__item">
                    <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <picture>
                            <source type="image/webp" srcset="
                                ../about/brusnika-500@1x.webp 1x,
                                ../about/brusnika-500@2x.webp 2x,
                                ../about/brusnika-500@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../about/brusnika-500@1x.png 1x,
                                ../about/brusnika-500@2x.png 2x,
                                ../about/brusnika-500@3x.png 3x">
                            <img src="../about/brusnika.png" alt="">
                        </picture>
                        <h3 class="visually-hidden">Брусника</h3>
                    </a>
                    
                </li>
                <li class="clients__item">
                    <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <picture>
                            <source type="image/webp" srcset="
                                ../about/suhodolsiy-kvartal-500@1x.webp 1x,
                                ../about/suhodolsiy-kvartal-500@2x.webp 2x,
                                ../about/suhodolsiy-kvartal-500@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../about/suhodolsiy-kvartal-500@1x.png 1x,
                                ../about/suhodolsiy-kvartal-500@2x.png 2x,
                                ../about/suhodolsiy-kvartal-500@3x.png 3x">
                            <img src="../about/suhodolsiy-kvartal.png" alt="">
                        </picture>
                        <h3 class="visually-hidden">Суходольсий квартал</h3>
                    </a>
                    
                </li>
                <li class="clients__item">
                    <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <picture>
                            <source type="image/webp" srcset="
                                ../about/agrospectekh-500@1x.webp 1x,
                                ../about/agrospectekh-500@2x.webp 2x,
                                ../about/agrospectekh-500@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../about/agrospectekh-500@1x.png 1x,
                                ../about/agrospectekh-500@2x.png 2x,
                                ../about/agrospectekh-500@3x.png 3x">
                            <img src="../about/agrospectekh.png" alt="">
                        </picture>
                        <h3 class="visually-hidden">Агроспецтех</h3>
                    </a>                    
                </li>
                <li class="clients__item">
                    <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <picture>
                            <source type="image/webp" srcset="
                                ../about/kazanskiy-posad-500@1x.webp 1x,
                                ../about/kazanskiy-posad-500@2x.webp 2x,
                                ../about/kazanskiy-posad-500@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../about/kazanskiy-posad-500@1x.png 1x,
                                ../about/kazanskiy-posad-500@2x.png 2x,
                                ../about/kazanskiy-posad-500@3x.png 3x">
                            <img src="../about/kazanskiy-posad.png" alt="">
                        </picture>
                        <h3 class="visually-hidden">Казанский посад</h3>
                    </a>                    
                </li>                
            </ul>
        </div>
    </section>
    <include src="./src/components/blocks/feedback/feedback.html"></include>
</div>