<section class="vacancy">
    <div class="page__wrap">
        <h1 class="page__title">Как распилить керамические блоки без лишнего труда</h1>
        <div class="vacancy__advantage">
            <h2 class="vacancy__subtitle">У нас вы получите</h2>
            <ul>
                <li>Своевременная заработная плата два раза в месяц;</li>
                <li>Премии ежемесячно до 60 %;</li>
                <li>Компенсация транспортного проезда;</li>
                <li>Надбавку за стаж;</li>
                <li>Оформление по ТК РФ;</li>
                <li>Организованный досуг (волейбольная секция);</li>
                <li>Корпоративный соцпакет (подарки к праздникам, детские новогодние подарки, премии к юбилейным датам, мат. помощь при рождении ребенка и иным событиям);</li>
                <li>Реальные условия для реализации знаний и навыков, а также повышения своей квалификации.</li>
            </ul>
        </div>
        <div class="vacancy__text">
            <h2>Обязанности</h2>            
            <p>Руководит производственной деятельностью при проходке открытых горных выработок. Обеспечивает и контролирует выполнение проекта проходки, плана-графика горноразведочных работ, технологии, графиков цикличности работ, технических и геологических требований к качеству работ, крепления выработок.</p>
            <h2>Заработная плата</h2>
            <p>35000 руб. + премии до 60%</p>
            <h2>Режим работы</h2>
            <p>Нормальная продолжительность рабочего времени<br>c 8-00 до 17-00</p>
            <h2>Профессионально-квалификационные требования, образование, дополнительные навыки, опыт работы</h2>
            <p>высшее профессиональное (техническое) образование, без предъявления требований к стажу работы, или среднее профессиональное (техническое) образование и стаж работы на проходке горных  выработок не менее 3 лет.</p>         

        </div>        
    </div>
</section>