<div class="vacancies">
    <section class="vacancies__header">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about.html">О компании</a></li>
                <li>Вакансии</li>
            </ul>
        </div>
        <div class="vacancies__header-text">
            <h1 class="title">Вакансии завода</h1>
            <div class="text">
                <p>Работайте и развивайтесь с нами!</p>
            </div>
            <div class="button-wrap">
                <a class="button button--main">Смотреть вакансии</a>
                <a class="button button--secondary">Преимущества работы у нас</a>
            </div>
            
        </div> 
        <div class="vacancies__header-request">
            <div class="column column--left">
                <div class="column__wrap">
                </div>
            </div>
            <div class="column column--right">
                <div class="column__wrap">
                    <p>На нашем заводе КЕТРА открыты вакансии, которые могут стать вашим следующим шагом в профессиональном росте</p>
                    <a href="#" class="page__link-more">Оставить заявку
                        <svg class="icon" width="14px" height="9px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-outline"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>     
    </section>
    <section class="vacancies__list-wrap">
        <div class="page__wrap">
            <h2 class="visually-hidden">Список вакансий</h2>
            <!--В мобильной версии только 4 вакансии и пагинация, в десктопе показ всех вакансий-->
            <ul class="vacancies__list">
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Специалист горных работ</span> Высшее профильное образование, опыт работы на производстве от года</p>
                    </a>                    
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Механик (слесарь) по ремонту и обслуживанию оборудования</span>Опыт работы от года, техническое образование - желательно</p>
                    </a>                    
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Водитель погрузчика</span>Опыт работы от 1 года, наличие удостоверения на право управления погрузчиком категории В</p>
                    </a>                    
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Машинист экскаватора</span>Опыт работы от 1 года, удостоверение тракториста-машиниста категория Е, машиниста экскаватора.</p>
                    </a>                    
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Машинист бульдозера</span>Наличие удостоверения тракториста-машиниста, наличие квалификационных документов по обучению на бульдозер;</p>
                    </a>
                    
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Инженер по автоматизированным системам производства</span>Высшее профессиональное (техническое) образование</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Специалист контрольно-измерительных приборов и автоматики</span>Требуемый опыт работы: 3–6 лет</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Геолог</span>Высшее профессиональное образование (геологическое), опыт работы от 5 лет</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Подсобный рабочий</span>Опыт работы не требуется</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Электрогазосварщик</span>Наличие среднего профессионального или высшего образования, опыт работы на позиции Электрогазосварщик от 1 года</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Теплотехник - электрик</span>Высшее техническое образование, опыт работы 3–6 лет</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Рабочий по комплексной уборке</span>Опыт работы от полугода</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Контролер</span>Среднее техническое или высшее образование, опыт работы по специальности от 1 года</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Инженер-химик</span>Высшее профильное образование, опыт работы желателен</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Начальник карьеров</span>Опыт работы от 1-го года</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Механик по выпуску автотранспорта на линию</span>Опыт работы не менее 1 года, высшее образование или среднее специальное образование</p>
                    </a>
                </li>
                <li class="vacancies__item">
                    <a class="vacancies__item-link" href="#">
                        <p><span>Мастер-механик</span>Опыт работы от 1 года, хороший уровень обучаемости</p>
                    </a>
                </li>

                <li class="vacancies__item vacancies__item--nav">
                    <div class="vacancies-nav__pagination">
                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li>&mdash;</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                    <a class="button button--main" href="#">Откликнуться</a>
                </li>
            </ul>
        </div>

    </section>
    <section class="vacancies__video">
            <div class="video"></div>
            <button class="video__play-btn"><span class="visually-hidden">Воспроизвести видео</span></button>
    </section>
    <section class="vacancies__advantages">
        <div class="page__wrap">
            <h2 class="page__subtitle">Преимущества работы с нами:</h2>
            <div class="vacancies__advantages-wrap">
                <ul class="vacancies__advantages-list">
                    <li>Конкурентная (полностью белая) заработная плата 2 раза в месяц</li>
                    <li>Премии ежемесячно до 60%</li>
                    <li>Корпоративный соц пакет</li>
                    <li>Надбавка за стаж</li>
                    <li>Компенсация транспортного проезда</li>
                    <li>Программа адаптации и наставничества</li>
                    <li>Современный завод</li>
                    <li>Корпоративные спортивные мероприятия! Работаем и отдыхаем вместе</li>
                    <li>Компенсация обедов</li>
                    <li>Спецодежда и оформление медицинской книжки за наш счет</li>
                    <li>Поздравления и подарки на праздники</li>
                </ul>
                <div class="vacancies__advantages-img">
                    <picture>
                        <source type="image/webp" srcset="
                            ../vacancies/kaski-800@1x.webp 1x,
                            ../vacancies/kaski-800@2x.webp 2x,
                            ../vacancies/kaski-800@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../vacancies/kaski-800@1x.jpg 1x,
                            ../vacancies/kaski-800@2x.jpg 2x,
                            ../vacancies/kaski-800@3x.jpg 3x">
                        <img src="../vacancies/kaski.jpg" alt="">
                    </picture>
                </div>
            </div>
            
        </div>
    </section>
    <section class="feedback">
        <div class="page__wrap feedback__wrap">
            <h2 class="page__subtitle">Откликнуться на вакансию</h2>
            <div class="feedback__text">
                <p>Присоединяйтесь к нам, заполнив форму или отправив ваше резюме на указанный адрес.<br>
                    Мы ждем именно вас, чтобы вместе двигаться к успеху!</p>
                    <p>Звоните нам: <a href="tel:+78005004942">8 (800) 500-49-42</a></p>
                    <p>Резюме отправляйте на info@ketra.ru</p>
            </div>
            <div class="feedback__form">
                <form class="form form--feedback">
                    <div class="form__field form__field--name">
                        <label for="name" class="visually-hidden">Имя</label>
                        <input type="text" id="name" name="name" placeholder="Имя*">
                    </div>
                    <div class="form__field form__field--tel">
                        <label for="tel" class="visually-hidden">Телефон</label>
                        <input type="tel" id="tel" name="tel" placeholder="Телефон*">
                    </div>
                    <button class="button button--main form__button-submit" type="submit">Отправить сообщение</button>
                </form>
            </div>
            <div class="feedback__text-phone">
                <p>Мы готовы к сотрудничеству и ждем вашего обращения!</p>
                
            </div>
        </div>
    </section>
</div>