<div class="logo logo--dark">
    <picture>
        <source type="image/webp" srcset="
            ../logo/logo-dark-54@1x.webp 1x,
            ../logo/logo-dark-54@2x.webp 2x,
            ../logo/logo-dark-54@3x.webp 3x">
        <source type="image/png" srcset="
            ../logo/logo-dark-54@1x.png 1x,
            ../logo/logo-dark-54@2x.png 2x,
            ../logo/logo-dark-54@3x.png 3x">
        <img class="logo__img" src="../logo/logo-dark.png" alt="Логотип Кетра" width="54">
    </picture>
    <p class="logo__text">Завод строительной керамики</p>
</div>