<div class="partners">
    <section class="partners__header">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li>О компании</li>
            </ul>
        </div>
        <div class="partners__header-text">
            <h2 class="title">Совместное развитие</h2>
            <div class="text">
                <p>Приглашаем в дилерскую сеть и партнерство</p>
            </div>
            <div class="button-wrap">
                <a class="button button--main">Стать партнером</a>
                <a class="button button--secondary">Условия сотрудничества</a>
            </div>
            
        </div> 
        <div class="partners__header-request">
            <div class="column column--left">
                <div class="column__wrap">
                    <h2>Профессиональные решения  в строительстве</h2>
                    <picture>
                        <source type="image/webp" srcset="
                            ../partners/house-1024@1x.webp 1x,
                            ../partners/house-1024@2x.webp 2x,
                            ../partners/house-1024@3x.webp 3x">
                        <source type="image/jpeg" srcset="
                            ../partners/house-1024@1x.jpg 1x,
                            ../partners/house-1024@2x.jpg 2x,
                            ../partners/house-1024@3x.jpg 3x">
                        <img src="../partners/house-1024.jpg" alt="">
                    </picture>
                </div>
            </div>
            <div class="column column--right">
                <div class="column__wrap">
                    <p>Присоединяйтесь к нашей сети дистрибьютеров и партнеров, чтобы расширить ваш бизнес и получить доступ к высококачественным продуктам и услугам.</p>
                    <a href="#" class="page__link-more">Оставить заявку
                        <svg class="icon" width="14px" height="9px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-outline"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>     
    </section>
    <section class="partners__factory">
        <div class="page__wrap">
            <div class="partners__logo">
                <include src="./src/components/blocks/logo/logo-nolink-dark.html"></include>
            </div>            
            <h2>Основан в 2013 году</h2>
            <p>Завод "Кетра" находится в Красноармейском районе Чувашской Республики, он является одним из уникальных инновационных проектов по выпуску строительной керамики в регионе.</p>
        </div>
    </section>
    <section class="partners__advantages advantages">
        <div class="page__wrap">
            <ul>
                <li class="advantage advantage--awards">
                    <div class="advantage__text">
                        <div class="signs">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/academy-57@1x.webp 1x,
                                    ../partners/academy-57@2x.webp 2x,
                                    ../partners/academy-57@3x.webp 3x">
                                <source type="image/png" srcset="
                                    ../partners/academy-57@1x.png 1x,
                                    ../partners/academy-57@2x.png 2x,
                                    ../partners/academy-57@3x.png 3x">
                                <img class="academy" src="../partners/academy-57.png" alt="Академия проблем качества" width="57">
                            </picture>
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/best-190@1x.webp 1x,
                                    ../partners/best-190@2x.webp 2x,
                                    ../partners/best-190@3x.webp 3x">
                                <source type="image/png" srcset="
                                    ../partners/best-190@1x.png 1x,
                                    ../partners/best-190@2x.png 2x,
                                    ../partners/best-190@3x.png 3x">
                                <img class="best" src="../partners/best-190.png" alt="Сто лучших товаров России" width="190">
                            </picture>
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/kachestvo-57@1x.webp 1x,
                                    ../partners/kachestvo-57@2x.webp 2x,
                                    ../partners/kachestvo-57@3x.webp 3x">
                                <source type="image/png" srcset="
                                    ../partners/kachestvo-57@1x.png 1x,
                                    ../partners/kachestvo-57@2x.png 2x,
                                    ../partners/kachestvo-57@3x.png 3x">
                                <img class="roskachestvo" src="../partners/kachestvo-57.png" alt="Роскачество" width="57">
                            </picture>
                        </div>
                        <a class="page__link-more">8 наград
                            <svg class="icon" width="14px" height="9px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-up-outline"></use>
                            </svg>
                        </a>
                        <p>Продукция подтверждена сертификатами</p>
                    </div>
                    <div class="advantage__img">
                        <picture>
                            <source type="image/webp" srcset="
                                ../partners/advantage-awards-620@1x.webp 1x,
                                ../partners/advantage-awards-620@2x.webp 2x,
                                ../partners/advantage-awards-620@3x.webp 3x">
                            <source type="image/jpg" srcset="
                                ../partners/advantage-awards-620@1x.jpg 1x,
                                ../partners/advantage-awards-620@2x.jpg 2x,
                                ../partners/advantage-awards-620@3x.jpg 3x">
                            <img src="../partners/advantage-awards-620.jpg" alt="Строить значит сотворить будущее" width="620">
                        </picture>

                    </div>                
                </li>
                <li class="advantage">
                    <div class="advantage__text">                        
                        <p><span>60 млн</span>млн. кирпичей НФ в год - проектная мощность завода</p>
                    </div>
                    <div class="advantage__img">
                        <picture>
                            <source type="image/webp" srcset="
                                ../partners/advantage-power-500@1x.webp 1x,
                                ../partners/advantage-power-500@2x.webp 2x,
                                ../partners/advantage-power-500@3x.webp 3x">
                            <source type="image/jpg" srcset="
                                ../partners/advantage-power-500@1x.jpg 1x,
                                ../partners/advantage-power-500@2x.jpg 2x,
                                ../partners/advantage-power-500@3x.jpg 3x">
                            <img src="../partners/advantage-power-500.jpg" alt="Кирпичи" width="500">
                        </picture>
                    </div>                
                </li>
                <li class="advantage">
                    <div class="advantage__text">                        
                        <p><span>Bedesсhi</span>производственная линия завода укомплектована итальянским оборудованием</p>
                    </div>
                    <div class="advantage__img">
                        <picture>
                            <source type="image/webp" srcset="
                                ../partners/advantage-bedeschi-500@1x.webp 1x,
                                ../partners/advantage-bedeschi-500@2x.webp 2x,
                                ../partners/advantage-bedeschi-500@3x.webp 3x">
                            <source type="image/jpg" srcset="
                                ../partners/advantage-bedeschi-500@1x.jpg 1x,
                                ../partners/advantage-bedeschi-500@2x.jpg 2x,
                                ../partners/advantage-bedeschi-500@3x.jpg 3x">
                            <img src="../partners/advantage-bedeschi-500.jpg" alt="Произодственная линия завода" width="500">
                        </picture>
                    </div>                
                </li>
            </ul>
        </div>
        
    </section>
    <div class="partners__video">
        <div class="video">

        </div>
        <button class="video__play-btn"><span class="visually-hidden">Воспроизвести видео</span></button>
        <h3 class="video__title">как создаются <span>надежные</span> строительные материалы</h3>
    </div>
    <div class="partners__benefits">
        <div class="page__wrap">
            <h2 class="page__subtitle">
                Наши преимущества как надежного партнера для вашего бизнеса
            </h2>
            <p>Выбирая нас в качестве партнера для вашего бизнеса, вы получаете  надежного союзника, готового поддержать вас в каждом шаге. Наша компания привносит в сотрудничество опыт, качество и эффективность.</p>
            <ol>
                <li>Выгодные партнерские условия работы</li>
                <li>10 лет работы завода, построенного с нуля по самым современным технологиям</li>
                <li>Отгрузка с завода 24/7</li>
                <li>Качество подтверждено многочисленными наградами</li>
                <li>Персональный менеджер</li>
                <li>Продукция известна и востребована</li>
                <li>Работа с крупнейшим производителем России</li>
                <li>Собственные глиняные и песчаные карьеры</li>
            </ol>
        </div>
    </div>
    <section class="feedback">
        <div class="page__wrap feedback__wrap">
            <h2 class="page__subtitle">Стать партнером</h2>
            <div class="feedback__text">
                <p>Желаете стать нашим партнером? Просто заполните форму обратной связи на нашем сайте или позвоните по указанному номеру. </p>
            </div>
            <div class="feedback__form">
                <form class="form form--feedback">
                    <div class="form__field form__field--name">
                        <label for="name" class="visually-hidden">Имя</label>
                        <input type="text" id="name" name="name" placeholder="Имя*">
                    </div>
                    <div class="form__field form__field--org">
                        <label for="name" class="visually-hidden">Организация</label>
                        <input type="text" id="name" name="name" placeholder="Организация">
                    </div>
                    <div class="form__field form__field--tel">
                        <label for="tel" class="visually-hidden">Телефон</label>
                        <input type="tel" id="tel" name="tel" placeholder="Телефон*">
                    </div>
                    <button class="button button--main form__button-submit" type="submit">Отправить сообщение</button>
                </form>
            </div>
            <div class="feedback__text-phone">
                <p>Мы готовы к сотрудничеству и ждем вашего обращения!</p>
                <a href="#" class="feedback__phone">
                    <p>8 (800) 500-49-42<span>Бесплатный звонок по всей России</span></p>
                </a>
            </div>
        </div>
    </section>
    <section class="distributors">
        <div class="page__wrap">
            <h2 class="page__subtitle">Нам доверяют</h2>
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'list')" id="defaultOpen">Списком</button>
                <button class="tablinks" onclick="openCity(event, 'map')">На карте</button>
            </div>
            <!-- Tab content -->
            <div id="list" class="tabcontent list">
                <ul class="distributors__list">
                    <li class="distributors__item">
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/otdelfinstroy-500@1x.webp 1x,
                                    ../partners/otdelfinstroy-500@2x.webp 2x,
                                    ../partners/otdelfinstroy-500@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../partners/otdelfinstroy-500@1x.png 1x,
                                    ../partners/otdelfinstroy-500@2x.png 2x,
                                    ../partners/otdelfinstroy-500@3x.png 3x">
                                <img src="../partners/otdelfinstroy-500.png" alt="">
                            </picture>
                            <h3 class="visually-hidden">Специализированный застройщик Отделфинстрой</h3>
                        </a>                    
                    </li>
                    <li class="distributors__item">
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/noviy-gorod-500@1x.webp 1x,
                                    ../partners/noviy-gorod-500@2x.webp 2x,
                                    ../partners/noviy-gorod-500@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../partners/noviy-gorod-500@1x.png 1x,
                                    ../partners/noviy-gorod-500@2x.png 2x,
                                    ../partners/noviy-gorod-500@3x.png 3x">
                                <img src="../partners/noviy-gorod-500.png" alt="">
                            </picture>
                            <h3 class="visually-hidden">Новый город</h3>
                        </a>                    
                    </li>
                    <li class="distributors__item">
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/mikrorayon-universitet-500@1x.webp 1x,
                                    ../partners/mikrorayon-universitet-500@2x.webp 2x,
                                    ../partners/mikrorayon-universitet-500@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../partners/mikrorayon-universitet-500@1x.png 1x,
                                    ../partners/mikrorayon-universitet-500@2x.png 2x,
                                    ../partners/mikrorayon-universitet-500@3x.png 3x">
                                <img src="../partners/mikrorayon-universitet-500.png" alt="">
                            </picture>
                            <h3 class="visually-hidden">Микрорайон Университет</h3>
                        </a>
                        
                    </li>
                    <li class="distributors__item">
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/tekhnologiya-500@1x.webp 1x,
                                    ../partners/tekhnologiya-500@2x.webp 2x,
                                    ../partners/tekhnologiya-500@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../partners/tekhnologiya-500@1x.png 1x,
                                    ../partners/tekhnologiya-500@2x.png 2x,
                                    ../partners/tekhnologiya-500@3x.png 3x">
                                <img src="../partners/tekhnologiya-500.png" alt="">
                            </picture>
                            <h3 class="visually-hidden">Специализированный застройщик Технология</h3>
                        </a>
                        
                    </li>
                    <li class="distributors__item">
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/brusnika-500@1x.webp 1x,
                                    ../partners/brusnika-500@2x.webp 2x,
                                    ../partners/brusnika-500@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../partners/brusnika-500@1x.png 1x,
                                    ../partners/brusnika-500@2x.png 2x,
                                    ../partners/brusnika-500@3x.png 3x">
                                <img src="../partners/brusnika-500.png" alt="">
                            </picture>
                            <h3 class="visually-hidden">Брусника</h3>
                        </a>
                        
                    </li>
                    <li class="distributors__item">
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow">
                            <picture>
                                <source type="image/webp" srcset="
                                    ../partners/suhodolsiy-kvartal-500@1x.webp 1x,
                                    ../partners/suhodolsiy-kvartal-500@2x.webp 2x,
                                    ../partners/suhodolsiy-kvartal-500@3x.webp 3x">
                                <source type="image/jpeg" srcset="
                                    ../partners/suhodolsiy-kvartal-500@1x.png 1x,
                                    ../partners/suhodolsiy-kvartal-500@2x.png 2x,
                                    ../partners/suhodolsiy-kvartal-500@3x.png 3x">
                                <img src="../partners/suhodolsiy-kvartal-500.png" alt="">
                            </picture>
                            <h3 class="visually-hidden">Суходольсий квартал</h3>
                        </a>
                        
                    </li>             
                </ul>
            </div>
            <div id="map" class="tabcontent map">
                Карта
            </div>
            
        </div>
    </section>
</div>

