.form {
    &--feedback {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        @media (min-width: $xl-width) {
            row-gap: 20px;
            margin: 0;
            max-width: unset;
        }

        & .form__field {
            @media (min-width: $md-width) {
                &--message {
                    grid-area: message;
                }
    
                &--name {
                    grid-area: name;
                }
    
                &--tel {
                    grid-area: tel;
                }
            }            
        }

        & .form__button-submit {
            @media (min-width: $md-width) {
                grid-area: button;
            }            
        }
    }

    &--contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        @media (min-width: $md-width) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "question question" "name tel" "button button";

        }

        & .form__field {
            &--question {
                @media (min-width: $md-width) {
                    grid-area: question;
                }
            }

            &--name {
                @media (min-width: $md-width) {
                    grid-area: name;
                }
            }

            &--tel {
                @media (min-width: $md-width) {
                    grid-area: tel;
                }
            }
        }

        & .form__button-submit {
            margin-top: 10px;

            @media (min-width: $md-width) {
                grid-area: button;
            }
        }
    }
    
    &__field {
        width: 100%;
    }

    & textarea,
    & input[type="text"],
    & input[type="tel"] {
        display: block;
        width: 100%;
        @include mp;
        @include text-14;
        padding: 12px;
        border-color: $dark-gray;

        &::placeholder {
            font-family: inherit;
        }
    }

    & textarea {
        resize: vertical;
    }

    & input[type="text"],
    & input[type="tel"] {
        border: none;
        border-bottom: 1px solid $dark-gray;
    }
}