<form class="form form--feedback">
    <div class="form__field form__field--message">
        <textarea rows="10" placeholder="Что вас интересует?"></textarea>
    </div>
    <div class="form__field form__field--name">
        <label for="name" class="visually-hidden">Имя</label>
        <input type="text" id="name" name="name" placeholder="Имя*">
    </div>
    <div class="form__field form__field--tel">
        <label for="tel" class="visually-hidden">Телефон</label>
        <input type="tel" id="tel" name="tel" placeholder="Телефон*">
    </div>
    <button class="button button--main form__button-submit" type="submit">Отправить сообщение</button>
</form>