.burger-button {
  @include btn-reset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: unset;
  padding: 0;
  border: none;
  transition: $transition;
  cursor: pointer;

  & .icon {
    width: 24px;
    height: 24px;
  }  
}

.main-header {
  & .burger-button {
    width: 20%;
    max-width: 74px;
    height: 74px;

    @media (min-width: $xl-width) {
      display: none;
    }
    
  }

  &--dark {
    & .burger-button {
      & use.icon__symbol {
        fill: $light-gray;
      }
      border-left: 1px solid $dark-gray;
      
    }
    
  }

  &--light {
    & .burger-button {
      & use.icon__symbol {
        fill: $black;
      }
      border-left: 1px solid $gray;
      
    }
    
  }
}
